.gallery {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 8vw;
  grid-gap: 1.5rem;
  grid-auto-flow: row dense;

  &__item {
    &--1 {
      grid-column: auto / span 2;
      grid-row: auto / span 2;
    }

    &--2 {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }

    &--3 {
      grid-column: auto / span 3;
      grid-row: auto / span 3;
    }

    &--4 {
      grid-column: auto / span 1;
      grid-row: auto / span 2;
    }

    &--5 {
      grid-column: auto / span 2;
      grid-row: auto / span 1;
    }

    &--6 {
      grid-column: auto / span 3;
      grid-row: auto / span 1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
